@model OnlineJewelleryStore.Models.Tbl_Member

@{
    ViewBag.Title = "EditMember";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-control-static" id="container" style="padding:30px;">
        <div id="main">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header bg-primary text-center text-capitalize">
                        <h2 class=" category-heading">Edit Member</h2>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RoleId, "RoleId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.DropDownList(
                      "RoleId",
                      new List<SelectListItem> {
                          new SelectListItem{Text = "Admin", Value = "1", Selected = true},
                          new SelectListItem{Text = "User", Value = "2"},
                      },
                      htmlAttributes: new { @class = "form-control" }
                  )
                    @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" style="padding-top:10px">
                    <input type="submit" value="Save" class="btn btn-primary btn-sm saveButton" />
                    @Html.ActionLink(
                          "Back",
                          "Index",
                          "MemberDashboard",
                          new { },
                          new {
                              @class = "btn btn-primary btn-sm backButton"
                          }
                      )
                </div>
            </div>
        </div>
</div>
}
