@model  OnlineJewelleryStore.Repository.MainRepository
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container" id="container">
        <div id="main">
            <div id="themeSlider" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
                    <li data-target="#themeSlider" data-slide-to="1"></li>
                    <li data-target="#themeSlider" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="imgOverlay"></div>
                        <img style="height:320px;width:100%" src="~/Content/Images/nav-logo1.png" alt="First slide">
                    </div>
                    <div class="item">
                        <div class="imgOverlay"></div>
                        <img style="height:320px;width:100%" src="~/Content/Images/nav-logo2.png" alt="Second slide">
                    </div>
                    <div class="item">
                        <div class="imgOverlay"></div>
                        <img style="height:320px;width:100%" src="~/Content/Images/nav-logo3.png" alt="Third                                                                                 slide">
                    </div>
                </div>
                <a class="left carousel-control" href="#themeSlider" data-slide="prev">
                    <span class="fa fa-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#themeSlider" data-slide="next">
                    <span class="fa fa-chevron-right"></span>
                </a>
            </div>
            <div class="olContent f1">
                <h2 style="color:black">Search Product/ Category</h2>
            </div>
            <form method="post">
                <div class="olSearch fr">
                    <input type="text" placeholder="Enter Keyword" name="search" class="inputComn houseText form-control" />
                    <div class="searchIcon" style="width:50px">
                        <button type="submit" class="searchBtn" style="padding:0px;">
                            <img src="~/Content/Images/searchIcon.png" style="width:80%" />
                        </button>
                    </div>
                </div>

            </form>

            @foreach (var category in Model.GetAllCategories())
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header bg-primary text-center text-capitalize text-justify">
                            <h2 class=" category-heading">@category.Name</h2>
                        </div>
                    </div>
                </div>
                <div class="row product-container">
                    @foreach (var product in Model.GetFeaturedProductsByCategoryId(category.Id))
                    {
                        @Html.Action("_Productpartial", "Product", new { id = product.Id })
                    }
                </div>
                @Html.ActionLink(
                    "View All " + @category.Name,
                    "Products",
                    "Product",
                    new { categoryId = @category.Id},
                    new {
                        @class = "btn btn-primary btn-sm frontButton wow bounceInLeft",
                        @style = "float:right;"
                    }
                )
                <br />
                <br />
                <br />
            }
        </div>
    </div>
}