@model IEnumerable<OnlineJewelleryStore.Models.Tbl_Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="container">
    <p>
        @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary btn-sm createButton" })
        @*<li>
            @Html.DropDownList(
                          "Dashboard",
                          new List<SelectListItem> {
                                    new SelectListItem {
                                        Text = "ProductDashboard" ,
                                        Value = Url.Action("Index", "ProductDashboard"),
                                        Selected = ViewContext.RouteData.Values["action"].ToString().Equals("Index") && ViewContext.RouteData.Values["controller"].ToString().Equals("ProductDashboard")
                                                        },

                                    new SelectListItem {
                                        Text = "MemberDashboard " ,
                                        Value = Url.Action("Index", "MemberDashboard"),
                                        Selected = ViewContext.RouteData.Values["action"].ToString().Equals("Index") && ViewContext.RouteData.Values["controller"].ToString().Equals("MemberDashboard")

                                                        }
                          },
                          new
                            {
                            @class = "btn btn-primary btn-sm",
                            @style = "inline-block",
                            @id = "urlddl"
                            }
                    )
        </li>*@
    </p>
    <table class="table" id="franchiseTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsFeatured)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Tbl_Category.Name)
                    </th>*@
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Url.Content(item.Image)" width="70" height="70" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFeatured)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Tbl_Category.Name)
                    </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm editButton" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-sm detailsButton" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary btn-sm deleteButton" })
                </td>
            </tr>
        }

    </table>
</div>

<script>
    $(document).ready(function () {
        $('#franchiseTable').DataTable();
    });
</script>
<script>
    $(function () {
        $('#urlddl').change(function () {
            //var urlddl_text = $("#urlddl option:selected").text();
            //$("#hidden1").val(urlddl_text);
            var url = $(this).val();
            if (url != null && url != '') {
                window.location.href = url;
            }
        });
    });
</script>

