@model OnlineJewelleryStore.Models.Tbl_Member

@{
    ViewBag.Title = "Login";
}
<link href="~/Content/MainLayout.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" id="container" style="padding:30px; padding-left:50px;">
        <div id="main">
            <h2 class="text-primary" style="padding-top:30px">LOGIN</h2>
            <p class="adminInfo text-center">To access Admin area please use <u>admin</u> for both fields.</p>
            <p class="guestInfo">
                To access as a Guest please use <u>guest</u> for both fields, or please create an account.
            </p>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Login" class="btn btn-primary btn-sm loginButton" />
                    @Html.ActionLink(
                      "Back",
                      "Index",
                      "Home",
                      new { },
                      new {
                      @class = "btn btn-primary btn-sm backButton"
                      }
                   )
                </div>
            </div>
            <div id="createAccount">
                @Html.ActionLink(
                     "Don't have an account? Create one.",
                     "SignUp",
                     "Account"
                )


            </div>
        </div>

    </div>
}
