@model OnlineJewelleryStore.Models.Tbl_Order

@{
    ViewBag.Title = "Buy";
}

<h2>Buy</h2>

<div class="container" style="margin-top:100px">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
            <h2>ORDER PLACED</h2>
            <p>@Model.CreationDate</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <h2>TOTAL</h2>
            <p>@Model.Payment</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <h2>DISPATCH TO</h2>
            <p>@Model.Tbl_Member.FirstName + @Model.Tbl_Member.LastName</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <h2>ORDER # @Model.Id</h2>
        </div>
    </div>
    @foreach(var orderDetails in Model.Tbl_OrderDetails)
    {
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <h2>@orderDetails.Tbl_Product.Name</h2>
                <h2>@orderDetails.Tbl_Product.Price</h2>
                <h2>(Qty: @orderDetails.Quantity)</h2>
            </div>
        </div>
    }
    @Html.ActionLink(
        "Continue Shopping",
        "Index",
        "Home",
        new {},
        new {
            @class = "btn btn-primary btn-sm continueButton",
            @style = "float:left;"
        }
    )
</div>
