@model OnlineJewelleryStore.Models.Tbl_Product

@{
    ViewBag.Title = "Product Details";
}

<div class="form-control-static" style="padding:30px;">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header bg-primary text-center">
                <h2 class=" category-heading">@Model.Name</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" style="text-align:center">
            <img src="@Url.Content(Model.Image)"
                    width="200"
                    height="200"
                    style="border: 3px solid gray; border-radius:6px;" />
        </div>
        <div class="col-md-9" style="margin-top:10px;text-align:justify;">
            @{
                string[] words = Model.Description.Split('£');
                foreach (var word in words)
                {
                    <p>@word</p>
                    <br />
                }
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="float:right; margin-right:10px;">
                <h5 style="display:inline-block;" class="text-primary">Price:</h5>
                <h4 class="text-danger" style="display:inline-block;font-weight:bold;">@Html.DisplayFor(modelItem => Model.Price)</h4>
                <h5 style="display:inline-block;" class="text-primary">&nbsp;&nbsp;&nbsp;Qty: </h5>
                <div style="display:inline-block;">
                    @Html.DropDownList("Quantities", new List<SelectListItem> {
                            new SelectListItem{Text = "1", Value = "1", Selected = true},
                            new SelectListItem{Text = "2", Value = "2"},
                            new SelectListItem{Text = "3", Value = "3"},
                            new SelectListItem{Text = "4", Value = "4"},
                            new SelectListItem{Text = "5", Value = "5"},
                        },
                        new {
                            @class = "btn btn-primary btn-sm",
                            @style ="inline-block",
                            @id = "quantitiesddl"}
                    )
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="#" class="btn btn-primary btn-sm cartButton addQuantity" style="margin-top:5px;" data-id="@Model.Id"> Add to Cart </a>
        </div>
    </div>
    <p>
        @Html.ActionLink(
            "Back", 
            "Index", 
            "Home", 
            new { }, 
            new { @class = "btn btn-primary btn-sm backButton", @style = "float:left" }
        )
    </p>
</div>

<script>
    $(
        function () {
            $('a.addQuantity').click(
                function (e) {
                    e.preventDefault();
                    var productId = $(this).data("id");
                    var quantity = parseInt($('#quantitiesddl').val());
                    var url = "/Home/AddToCartJson";
                    $.getJSON(url, { productId: productId, quantity: quantity }, function (data) {
                        var url = '@Url.Action("_Cartpartial", "Home")'
                        $('#layout-cart-li').load(url);
                    }).done();
            });
        }
    );
</script>
