<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/MainLayout.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse my-navbar navbar-fixed-top" style="border-radius:0px;margin-bottom:0px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Jewellery Store</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                @*@Html.ActionLink("Sign Up", "Register", "Home", new { }, new { })*@
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                @*<li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Checkout</a></li>*@
                <li>
                    @Html.ActionLink("Checkout", "Checkout", "Checkout", new { }, new { })
                </li>
            </ul>
        </div>
    </nav>
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
