<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/MainLayout.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" />
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script src="~/Scripts/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse my-navbar navbar-fixed-top" style="border-radius:0px;margin-bottom:0px;color:white">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Jewellery Store</a>
            </div>
            <ul class="nav navbar-nav navbar-right">

                @if (Session["username"] == null)
                {
                    <li>
                        @Html.ActionLink(
                            "Sign Up",
                            "SignUp",
                            "Account"
                        )
                    </li>
                    <li>
                        @Html.ActionLink(
                             "Login",
                             "Login",
                             "Account"
                         )
                    </li>
                }
                else
                {
                    List<SelectListItem> dropDownItems = new List<SelectListItem> {
                                new SelectListItem {
                                    Text = "Welcome " + Session["username"].ToString().ToUpper(),
                                    Value = Url.Action("Index", "Home"),
                                    Selected =true
                                }
                            };
                    if ((int)Session["roleId"] == 1)
                    {
                        dropDownItems.Add(new SelectListItem
                        {
                            Text = "Admin Dashboard",
                            Value = Url.Action("Index", "Dashboard")
                        });
                    }
                    dropDownItems.Add(new SelectListItem
                    {
                        Text = "My Orders",
                        Value = Url.Action("MyOrders", "Account")
                    });
                    dropDownItems.Add(new SelectListItem
                    {
                        Text = "Logout",
                        Value = Url.Action("Logout", "Account")
                    });
                    <li style="padding-top:10px">
                        @Html.DropDownList(
                            "AccountDetails",
                            dropDownItems,
                            new {
                                @class = "btn btn-primary btn-sm",
                                @style ="inline-block",
                                @id = "urlddl"
                            }
                        )
                        @*@Html.DropDownList(
                                "AccountDetails",
                                new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "My Orders", Value = Url.Action("Orders", "Account"), Selected=true },
                                    new SelectListItem { Text = "Logout", Value = Url.Action("Logout", "Account") },
                                },
                                "Test",
                                new { id = "urlddl" }
                            )*@
                    </li>
                }
                @if (ViewBag.Title != "Checkout" && ViewBag.Title != "Buy")
                {
                    <li style="padding-top:10px">
                        @Html.Action(
                            "_Cartpartial",
                            "Home"
                        )
                    </li>
                }


                @*@if (Request.IsAuthenticated)
                        {
                            <li class="nav-link"><a href="/account/logout">Logout</a></li>
                        }
                        else
                        {
                            if (ViewBag.Title == "Login")
                            {
                                <li class="nav-link login"><a class="login" href="/account/login">Login</a></li>
                            }
                            else
                            {
                                <li class="nav-link login"><a class="login" href="/account/login">Login</a></li>
                            }
                        }

                        @if (Request.IsAuthenticated && !User.Identity.Name.Equals("admin"))

                        {
                            if (ViewBag.Title == "User Profile" || ViewBag.Title == "Orders")
                            {
                                <li class="active nav-link">@Html.Action("UserNavPartial", "Account", new { area = "" })</li>
                            }
                            else
                            {
                                <li class="nav-link">@Html.Action("UserNavPartial", "Account", new { area = "" })</li>
                            }
                        }
                    </ul>

                    @if (Request.IsAuthenticated && User.Identity.Name.Equals("admin"))
                    {

                        <button type="button" class=" btn-admin btn btn-info ">@Html.ActionLink("Admin Area", "Index", "Dashboard", new { area = "Admin" }, null) </button>
                    }
                    else
                    {
                        if (ViewBag.Title != "Cart Details")
                        {

                            @Html.Action("CartPartial", "Cart")

                        }
                    }*@








            </ul>
        </div>
    </nav>
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script>
    $(function () {
        $('#urlddl').change(function () {
            var url = $(this).val();
            if (url != null && url != '') {
                window.location.href = url;
            }
        });
    });
</script>
