<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/MainLayout.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" />
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script src="~/Scripts/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" style="color:white">
                    <li>Test</li>
                    <li>Test2</li>
                    <li>Test3</li>
                </ul>
            </div>
        </div>
    </div>*@
    <nav class="navbar navbar-inverse my-navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Jewellery Store</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["username"] == null)
                    {
                        <li>
                            @Html.ActionLink(
                                "Sign Up",
                                "SignUp",
                                "Account"
                            )
                        </li>
                        <li>
                            @Html.ActionLink(
                                 "Login",
                                 "Login",
                                 "Account"
                             )
                        </li>
                    }
                    else
                    {
                        List<SelectListItem> dropDownItems = new List<SelectListItem> {
                                        new SelectListItem {
                                            Text = "Welcome " + Session["username"].ToString().ToUpper(),
                                            Value = Url.Action("Index", "Home"),
                                            Selected = ViewContext.RouteData.Values["action"].ToString().Equals("Index") && ViewContext.RouteData.Values["controller"].ToString().Equals("Home")
                                        }
                                    };
                        if ((int)Session["roleId"] == 1)
                        {
                            dropDownItems.Add(new SelectListItem
                            {
                                Text = "Product Dashboard",
                                Value = Url.Action("ProductIndex", "ProductDashboard", new { selectedId = 1 }),
                                Selected = ViewContext.RouteData.Values["action"].ToString().Equals("ProductIndex") && ViewContext.RouteData.Values["controller"].ToString().Equals("ProductDashboard")
                            });
                            dropDownItems.Add(new SelectListItem
                            {
                                Text = "Member Dashboard",
                                Value = Url.Action("Index", "MemberDashboard"),
                                Selected = ViewContext.RouteData.Values["action"].ToString().Equals("Index") && ViewContext.RouteData.Values["controller"].ToString().Equals("MemberDashboard")
                            });
                            /*dropDownItems.Add(new SelectListItem
                            {
                                Text = "Admin Dashboard",
                                Value = Url.Action("Index", "ProductDashboard"),
                                Selected = ViewContext.RouteData.Values["action"].ToString().Equals("Index") && ViewContext.RouteData.Values["controller"].ToString().Equals("ProductDashboard")
                            });*/
                        }
                        dropDownItems.Add(new SelectListItem
                        {
                            Text = "My Orders",
                            Value = Url.Action("MyOrders", "Account"),
                            Selected = ViewContext.RouteData.Values["action"].ToString().Equals("MyOrders") && ViewContext.RouteData.Values["controller"].ToString().Equals("Account")
                        });
                        dropDownItems.Add(new SelectListItem
                        {
                            Text = "Logout",
                            Value = Url.Action("Logout", "Account"),
                            Selected = ViewContext.RouteData.Values["action"].ToString().Equals("Logout") && ViewContext.RouteData.Values["controller"].ToString().Equals("Account")
                        });
                        <li style="padding-top:10px">
                            @Html.DropDownList(
                                "AccountDetails",
                                dropDownItems,
                                new {
                                    @class = "btn btn-primary btn-sm",
                                    @style ="inline-block",
                                    @id = "urlddl"
                                }
                            )
                        </li>
                    }
                    @if (ViewBag.Title != "Checkout" && ViewBag.Title != "Buy")
                    {
                        <li style="padding-top:10px">
                            @Html.Action(
                                "_Cartpartial",
                                "Home"
                            )
                        </li>
                    }
                </ul>
            </div>

        </div>
    </nav>
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script>
    $(function () {
        $('#urlddl').change(function () {
            //var urlddl_text = $("#urlddl option:selected").text();
            //$("#hidden1").val(urlddl_text);
            var url = $(this).val();
            if (url != null && url != '') {
                window.location.href = url;
            }
        });
    });
</script>
